@font-face {
    font-family: bertold;
    src: url(../font/berthold-akzidenz-grotesk-bold.otf);
    font-weight: bold;
}
html, body{
  height: 100%;
}
.h-100
{
  height: 100%;
}

h2
{
  font-family: "bertold", sans-serif;
  color: #303030;
  font-size: 75px;
  margin-bottom: 0px;
}
h3
{
  font-family: 'Courgette', cursive;
  font-size: 75px;
  color: #ffffff;
  margin-top: 10px;
}
/*sync screen*/

html#sync body {
  border-left: 25px solid #ffd200;
  border-right: 25px solid #ffd200;
}

.container-table {
  background-color: rgb(48,48,48);
  display:table;
  height: 100%;
  width: 100%;
}

.vertical-center-row {
  display: table-cell;
  vertical-align: middle;
}

.wrapper-logo img
{
  width: 55%;
  height: auto;
}



.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.loading-text {
  position: absolute;
  top: 70%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  width: 100%;
  height: 100px;
}
.loading-text span {
  font-size: 43px;
  display: inline-block;
  margin: 0 5px;
  color: #fff;
  font-family: 'Quattrocento Sans', sans-serif;
  letter-spacing: 2px;

}
.loading-text span:nth-child(1) {
  filter: blur(0px);
  animation: blur-text 1.5s 2s infinite linear alternate;
}
.loading-text span:nth-child(2) {
  filter: blur(0px);
  animation: blur-text 1.5s 2.2s infinite linear alternate;
}
.loading-text span:nth-child(3) {
  filter: blur(0px);
  animation: blur-text 1.5s 2.4s infinite linear alternate;
}
.loading-text span:nth-child(4) {
  filter: blur(0px);
  animation: blur-text 1.5s 2.6s infinite linear alternate;
}

@keyframes blur-text {
  0% {
    filter: blur(0px);
  }
  100% {
    filter: blur(4px);
  }
}

/*PG Screen*/

html#pg body
{
  background-color: #ffd200;
}

.heading-player
{
  margin-top: 18%;
  margin-bottom: 15%;
}
.name-pg
{
  margin-top: 7%;
  font-size: 115px;
}
.img-pg img
{
  height: 800px;
  width: auto;

}
.wrapper-button
{
  margin-top: 10%;
}
.btn-scrambler
{
  font-family: 'Arial', sans-serif;
  color: #231f20;
  text-decoration: none;
  /*display: inline-block;*/
  padding: 35px 90px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  font-size: 45px;
  font-weight: bold;
  border: 2px solid #231f20;
  background: none;
}
.btn-scrambler:hover
{
  background-color: #303030;
  border-color: #ffd200;
  color: #ffd200;
}

/*Loading Screen*/

html#loading body
{
  background-color: #ffd200;
}
#loading svg#circle
{
  width: 200px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -100px;
  margin-top: -100px;
}

#loading #Livello_2
{
  -webkit-transform-origin: 421.15px 421.14px;
  transform-origin: 421.15px 421.14px;

  -webkit-animation: rotateLivello_2 12s linear infinite;
  animation: rotateLivello_2 12s linear infinite;
}
@-webkit-keyframes rotateLivello_2 { 100% { -webkit-transform: rotate(360deg); } }
@keyframes rotateLivello_2 { 100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }

.loading-heading
{
  display: table;
  height: 100%;

}
.loading-heading h2.vertical-center-row
{
  text-transform: uppercase;
  font-size: 22px;
  color: #231f20;
}


/*Tutorial Screen*/

html#tutorial body
{
  background-color: #464c52;
}
.margin-stripes
{
  margin: 0 2%;
}
.road
{
  border-right: 20px solid #fff;
  border-left: 20px solid #fff;
  height: 100%;
}

#gesture-sx
{
  height: 110px;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -55px;
  margin-left: -55px;
}
#gesture-dx
{
  height: auto;
  width: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -109.2px;
  margin-left: -20px;
}



@media (orientation: portrait) {
#rotate-screen { display: none; }
}
@media (orientation: landscape) {
  .playfield { display: none; }
  #rotate-screen
  {
    background-color: #303030;
    background-image: url('../img/rotate-screen.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 160px;
    overflow: hidden;
  }
  .wrapper-rotate
  {
    position: absolute;
    left: 0;
    top: 0;
  }
  #rotate-screen h2
  {
    color: #fff;
    font-size: 22px;
    margin-top: 50%;
  }
  #rotate-screen h2 span
  {
    color: #ffd200;
  }
}
